<div>
    <% if flash[:msg] %>
        <span class="flash-msg"><%= flash[:msg] %></span>
    <% end %>
</div>
<div class="private-notification">
    <% if @idea.is_private == true %>
        <p>This idea is marked private.</p>
    <% end %>
</div>
<div>
    <h2>Idea: <%= @idea.name %></h2>
    <p>
        <span class="bold">Submitted by:</span> <%= @idea.user.full_name %><br/>
        <span class="bold">Description:</span> <%= @idea.description %><br/>
        <span class="bold">Created:</span> <%= @idea.created_at %>
    </p>
    <% if Helpers.is_logged_in?(session) %>
        <div class="edit-delete">
            <div>
                <a href="/ideas/<%= @idea.id %>/edit"><button class="nav-submit">Edit</button></a>
            </div>
            <div>
                <form method="POST" action="/ideas/<%= @idea.id %>">
                    <input type="hidden" id="hidden" name="_method" value="DELETE">
                    <button class="nav-submit">Delete</button>
                </form>
            </div>
        </div>
    <% end %>
</div>
<div>
    <h2>Related Projects</h2>
    <div>
        <% if @idea.projects.count == 0 %>
            No projects have yet been created for this idea.
        <% elsif @idea.projects.count == @idea.projects.where(is_private: true).count  %>
            No public projects for this idea.
        <% else %>
            <div class="category-display">
                <% @idea.projects.each do |project| %>
                    <% if project.is_private == false || (project.is_private == true && Helpers.is_logged_in?(session) && Helpers.current_user(session) == project.user) %>
                        <div>
                            <h4>
                                <a href="/projects/<%= project.id %>"><%= project.name %></a> <% if project.is_private == true %>(<em>private</em>)<% end %>
                            </h4>
                            <p><%= project.description %></p>
                        </div>
                    <% end %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>