<form method="POST" action="/projects/<%= @project.id %>">
    <input type="hidden" id="hidden" name="_method" value="PATCH">
    <div class="credential-forms">
        <h2>Edit project</h2>
        <p>
            <% if flash[:msg] %>
                <span class="flash-msg"><%= flash[:msg] %></span>
            <% end %>
        </p>
        <p><span class="required-value">* indicates required fields</span></p>
        <p>
            <label for="project_name">Name: </label><span class="required-value">*</span><br/>
            <input type="text" id="project_name" name="project[name]" value="<%= @project.name %>" class="create-item-input">
        </p>
        <p>
            <label for="project_description">Description: </label><span class="required-value">*</span><br/>
            <textarea id="project_description" name="project[description]" class="create-item-textarea"><%= @project.description %></textarea>
        </p>
        <p>
            <label for="main_language">Main language: </label><br/>
            <input type="text" id="main_language" name="project[main_language]" value="<%= @project.main_language %>" class="create-item-input">
        </p>
        <p>
            <label for="github_repo">GitHub repo: </label><br/>
            <input type="text" id="github_repo" name="project[github_repo]" value="<%= @project.github_repo %>" class="create-item-input">
        </p>
        <p>
            <input type="checkbox" id="is_private" name="project[is_private]" <%= 'checked' if @project.is_private == true %>>
            <label for="is_private">Private</label>
        </p>
        <p>
            <p>
            Source idea <span class="required-value">*</span><br/>
            Choose an named idea or select "New idea" and complete the fields below
            </p>
            <p>
                <% Idea.all.sort_by{|idea| idea.name}.each do |idea| %>
                    <% if idea.is_private == false || (idea.is_private == true && Helpers.is_logged_in?(session) && Helpers.current_user(session) == idea.user) %>
                        <div>
                            <input type="radio" id="<%= idea.name %>" name="idea[id]" value="<%= idea.id %>" <%= 'checked' if @project.ideas[0].id == idea.id %>>
                            <label for="<%= idea.name %>"><%= idea.name %></label><% if idea.is_private %> <em>(private)</em><% end %>
                        <div>
                    <% end %>
                <% end %>
                <div>
                    <input type="radio" id="idea_new" name="idea[id]" value="-1">
                    <label for="idea_new">New idea (enter below)</label>
                </div>
                <p>
                    <label for="idea_name">Name: </label><br/>
                    <input type="text" id="idea_name" name="idea[name]" class="create-item-input">
                </p>
                <p>
                    <label for="idea_description">Description: </label><br/>
                    <textarea id="idea_description" name="idea[description]" class="create-item-textarea"></textarea>
                </p>
                <p>
                    <input type="checkbox" id="is_private_idea" name="idea[is_private]">
                    <label for="is_private_idea">Private</label>
                </p>
        </p>
        <input type="submit" value="Edit Project" class="input-submit">
    </div>
</form>